body, td, caption {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    font-size: 16px;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

/* Controla o título. */
#header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

/* Controla o sumário. */
/* #TOC { display: block; } */
/* h1.title {} */
/* h4.author {} */
/* code { font-size: 16px; } */

p {
    /* margin: 0px 0px 10px; */
    text-indent: 1em;
    text-align: justify;
}

pre {
    word-break: keep-all;
}

pre code {
    font-size: 14px;
}

pre:not([class]) code {
    background-color: #92BFB1;
}
pre, code {
    background-color: #62BFB1;
    border-radius: 3px;
    color: #333;
}

/* R output */
pre:not([class]) code {
    background-color: #D4D4D4;
}
pre:not([class]), code {
    background-color: #D4D4D4;
}

/* R input */
pre, code {
    border-radius: 3px;
    background-color: #EDEDED;
    color: #333;
}

img {
    max-width: 100% !important;
    display: block;
    margin: auto;
}

.MathJax {
    font-size: 80% !important;
}
